@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.hero-button{
    border-radius: 15px;
    padding-bottom:0;
    background-color: #ffffff;
    border: 4px solid #333333;

    :hover{
        color: #ffffff;
    }
}
.hero-button:hover{
    background-color: #333333;
    border-color: #333333;

    *{
        color: #ffffff;
    }
}
.hero-container{
    position: relative;
    overflow-x: hidden;
    padding-bottom: 80px;
}

.hero-container::before{
    content: 'TREK DESIGNS & SOLUTIONS';
    font-size: 90px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #F8F8F8;
    position: absolute;
    top: -8%;
    left: 40%;
    min-width: 25ch;
    z-index: -1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #C6C6C6;
}

.hero-container::after{
    content: 'TREK DESIGNS & SOLUTIONS';
    font-size: 90px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #F8F8F8;
    position: absolute;
    bottom: 0;
    right: 40%;
    min-width: 25ch;
    z-index: -1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #C6C6C6;
}

